html {
    background-image: url("http://cdn.lowgif.com/full/43561106435af9f8-search-for-hotel.gif");
    background-color: rgba(255, 255, 255, 0);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    font-family: 'Ibarra Real Nova', serif;
    background-color: rgba(255, 255, 255, 0);   
}

#form-container {
    background-color: rgba(255, 255, 255, 0.74);
    width: 45%;
    height: 400px; 
    margin: 10px auto;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    padding: 25px;
    font-size: 16px;
}

.header {
    margin: 0 auto;
    margin-bottom: 5px;
    width: 45%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.555);
    border-radius: 10px;
    margin-top: 5px;

}

#header-text {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 45px;
    padding-top: 12px;
}

.btn {
    margin-bottom: 5px;
}

#article-container{
    height: 100px;
    margin: 10px auto;
    border-radius: 10px;
    width: 45%;
    background-color: rgba(255, 255, 255, 0.74);
    border: 1px solid rgb(0, 0, 0);
    padding: 25px;
    font-size: 16px;
    

}

.div-title {
    background-color: rgba(36, 36, 36, 0.89);
    color: rgb(255, 255, 255);
    height: 25px;
    margin: 0 auto -10px auto;
    width: 45%;
    padding-left: 10px;
    border-radius: 10px;
    letter-spacing: 3px;
    font-size: 18px;
    
}